body{
    width: 100%;
    margin: 0;
    /* background-color: rgb(10, 138, 138); */
}
nav{
    display: flex;
    justify-content: space-around;
    background-color:white ;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    padding-bottom: 1%;
    /* position: fixed; */
}
nav .nav-img1{
    height: 40px;
    width: 40px;
    margin-left: -10%;
}
nav .logo {
    display: flex;
    margin-top: 1%;
}
nav .logo span{
    /* margin-top: 10%; */
    font-size: 2rem;
}
.close{
    margin-left: 80%; 
    display: none;
}
nav .links{
    display: flex;
    gap: 50px;
    margin-top: 1.5%;
    text-decoration: none;
    margin-left: -10%;
    list-style: none;
    
}
nav .links a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(10, 138, 138);
}
nav .nav-img2{
    margin-top: 12%;
}
.fa-bar{
   display: none;
}
input.searc {
    width: 100%;
    padding: 2%;
   border: none;
   /* width: 100%;   */
   /* padding: 12px 40px;   */
   display: inline-block;  
   outline: none;
  
   
}
.dark-mode {
    background-color: black;
    color: white;
  }
 
    /* display: block; */

.search{
    display: flex;
     background-color: white;
      border: 1px solid #cecaca;
      height: 5%;
      padding: 3%; 
      width:95%;
}
.top_div{
    width: 50%;
}
::placeholder{
    font-size: 20px;
}
.mark{
    display: flex;
     gap: 2px;
      width: 100%;
      margin-top: 1%;
}
.marquee-container{
    display: flex;
}
.flag-toggle{
    display: flex;
    gap: 50px;
}
/* textarea{
    border: none;
    outline: none;
} */
.scroll{
    background-color:  rgb(10, 138, 138);
      width: 300px;
      height: 500px;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: center;
      padding: 10px;
 }
 
 i{
    padding-top:1% ;
 }

@media screen and (max-width:414px){
   
    nav {
        
        width: 414px;
        display: block;
        /* text-align: center; */
        
        z-index: 5;
        padding: 0;
        
        
    }.logo{
        
        margin-left: 10%
    }
    .fa-bar{
        display: block;
        margin-top: 1%;
        margin-left: 35%;
    }
    nav .links{
        display: none;
        
        
    }
    #links{
        
        text-align: left;
        padding-left: 15%;
        list-style: none;
        
    }
    #links a{
       
        background-color: chocolate;
        
       color: white;
        margin-left: -5%;
       
    }
    .links .a{
        padding-right:300px ;
    }
    .links .b{padding-right:288px ;}
    .links .c{padding-right:283px ;}
    .links .d{padding-right:243px ;}
  
    .flag-toggle{
        display: none;
        
    }
    .menu{
        display: block;
    }
    .mark{
       
        display: block;
        width: 360px;
        position: absolute;
        top: 50px;

    }
    .search{
        display: flex;
         background-color: white;
          border: 1px solid #cecaca;
          box-shadow:0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
          height: 3%;
          padding: 1%; 
          width: 332px;
          margin-left:  21%;
          
    }
    .marquee-container{
        display: none;
    }
    .close{
        display: block;
    }

    input{
       margin-top: 5px;
    }
   
      .login{
        width: 330px;
        background-color: rgba(210, 105, 30, 0.37);
      }  
}

