body{
    width: 100%;
    margin: 0;
    /* background-color: rgb(10, 138, 138); */
}
nav{
    display: flex;
    justify-content: space-around;
    background-color:white ;
    box-shadow:0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
    padding-bottom: 1%;
    /* position: fixed; */
}
nav .nav-img1{
    height: 40px;
    width: 40px;
    margin-left: -10%;
    
}
nav .logo {
    display: flex;
    margin-top: 1%;
}
nav .logo span{
    /* margin-top: 10%; */
    font-size: 2rem;
}
.close{
    margin-left: 80%; 
    display: none;
}
nav .links{
    display: flex;
    gap: 50px;
    margin-top: 1.5%;
    text-decoration: none;
    margin-left: -10%;
    list-style: none;
    
}
nav .links a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(10, 138, 138);
}
nav .nav-img2{
    margin-top: 20%;
}
.fa-bar{
   display: none;
}
input.searc {
    width: 100%;
    padding: 2%;
   border: none;
   margin-top: -2%;
   /* width: 100%;   */
   /* padding: 12px 40px;   */
   display: inline-block;  
   outline: none;
  
   
}
.dark-mode {
    background-color: black;
    color: white;
  }
 
    /* display: block; */

.search{
    display: flex;
     background-color: white;
      border: 1px solid #cecaca;
      height: 5%;
      padding: 3%; 
      width:100%;
      /* margin-top: -5%; */
}
.top_div{
    background-image: url(../images/web.jpg);
    width: 100%;
    /* height: 10%; */
    background-size: cover;
    background-repeat: no-repeat;
    /* color:black; */
}
.search #fa-search{
    margin-top: -2%;
}
::placeholder{
    font-size: 20px;
}
.mark{
    display: flex;
     gap: 2px;
      width: 100%;
      margin-top: 1%;
      /* height: 200%; */
}
.marquee-container{
    display: flex;
    /* border-bottom-right-radius: 100%; */
    
}
.flag-toggle{
    display: flex;
    gap: 50px;
}
/* textarea{
    border: none;
    outline: none;
} */
.scroll{
    background-color:  rgb(10, 138, 138);
      width: 300px;
      height: 500px;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: center;
      padding: 10px;
 }
 
 i{
    padding-top:1% ;
 }

@media screen and (max-width:414px){
   
    nav {
        
        width: 414px;
        display: block;
        /* text-align: center; */
        
        z-index: 5;
        padding: 0;
        
        
    }.logo{
        
        margin-left: 10%
    }
    .fa-bar{
        display: block;
        margin-top: 1%;
        margin-left: 35%;
    }
    nav .links{
        display: none;
        
        
    }
    #links{
        
        text-align: left;
        padding-left: 15%;
        list-style: none;
        background-color: black;
        
        
    }
    #links a{
       
        background-color: chocolate;
        
       color: white;
        margin-left: -5%;
        /* padding: 5%; */
        /* padding-right: 250px; */
        /* width: 414px; */
       
    }
    .links li{
        width: 414px;
        margin-bottom: 10%;
       
    }
    .a{padding: 5% 307px 5% 5%;}
    .b{padding: 5% 293px 5% 5%;}
    .c{padding: 5% 290px 5% 5%;}
     .d{padding: 5% 250px 5% 5%;}
    .close{
        color: white;
        padding-top: 3%;
    }
    .flag-toggle{
        display: none;
        
    }
    .menu{
        display: block;
    }
    .top_div{
        background-image: url(../images/web.jpg);
        width: 414px;
        /* height: 800px; */
         padding-bottom: 100px;
        padding-top:10px ;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .mark{
       
        display: block;
        width: 360px;
        position: absolute;
        top: -100px;
        /* padding-bottom: 100px; */
    }
    .search{
        display: flex;
         background-color: white;
          border: 1px solid #cecaca;
          box-shadow:0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(255,255,255,0.15);
          height: 5%;
          padding: 1%; 
          width: 332px;
          margin-left:  21%;
          position: fixed;
          z-index: 1;
          top: 7%;
          right: 9%;

    }
    .search:hover{
        border: 2px solid black ;
        border-radius: 7px;
        /* background-color: black; */
    }
    .marquee-container{
        display: none;
    }
    .close{
        display: block;
    }

    input{
       margin-top: 5px;
    }
   
      .login{
        width: 330px;
        background-color: rgba(210, 105, 30, 0.37);
      }  
}

