.intro{
    font-size: 3rem;
    padding-left: 5%;
}
/* video{
    display: none; 
     height:600px ;
    width: 414px;
    position: absolute; 
     left: 50px; 
   margin-left: -5%;
} */




.las{
    /* margin-top: 5%; */
    height: 100%;
    position: relative;
    background: #111;
    color: white;
}

.container{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .services{
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container .services .card{
    width: 330px;
    text-align: center;
    background: #222;
    padding: 20px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.container .services .card:hover{
    background: chocolate;
}

.container .services .card .content{
    transition: 0.3s;
}

.container .services .card:hover .content{
    transform: scale(1.08);
}

.container .services .card .content .icon{
    padding: 5px 0;
    color: white;
}

.container .services .card .content .icon i{
    font-size: 40px;
}

.container .services .card:hover .content .title{
    color: white;
}

.container .services .card .content .title{
    padding: 5px 0;
    font-size: 24px;
    font-weight: 500;
    color: chocolate;
    transition: 0.3s;
}
footer{
    /* position: fixed; */
    background: #413c64;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  footer::before{
    content: '';
    /* position: absolute; */
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #fff;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: #140B5C;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #0F0844;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }

@media screen and (max-width:414px){
    
    #myVideo{
        display: block;
        height:600px ;
        width: 414px;
        /* margin-bottom: 2%; */
        /* left: 0;
        top: 0; */
        /* width: 414px;
        position: fixed; */
        /* clip-path: polygon(20% 0% 20%); */
        /* border-style: ; */
      }
    body{
        /* background-color:  rgb(10, 138, 138); */
        background-color:rgb(10, 138, 138) ;
        width: 414px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* overflow-x: scroll; */
        color: black;
        
    }
    .intro{
        
        font-size: 2.2rem;
        font-family:Colonna MT;
        width: 220px;
        padding-left: 10%;
        margin-top: 70%;
        color: white;
    }
    .btn1{
        font-size: 20px;
        padding: 10px 30px;
        margin-left: 20px ;
        /* margin-top: 100px; */
        font-family: Imprint MT Shadow;
        border: 1px  solid white;
        color: white;
        display: flex;
    }
    .btn2{
        font-size: 20px;
        font-family: Imprint MT Shadow;
        /* margin-top: 100px; */
        background-color: rgba(35, 63, 63, 0.151);
        border: 1px  solid white;
        color: white;
        
    }
    .btn1,.btn2 a {
        color: white;
        text-decoration: none;
    }
    .btn1 a {
        color: white;
        text-decoration: none;
    }
    #btns{
        position: absolute;
        top: 55%;
        left: 1%;
        z-index: 5;
        text-align: center;
        gap: 2%; 
        background-color: #fff;
        padding-bottom: 13px;
        padding-top: 3%;
        padding-left: 3%;
       width: 335px;
        display: none;
    }
    #btns .btn3{
        font-size: 20px;
        font-family: Imprint MT Shadow;
        /* margin-top: 100px; */
        text-decoration: none;
        padding: 1%;
        padding-top: 3%;
        background-color: rgba(35, 63, 63, 0.151);
        border: 1px  solid white;
        color: white;
        
    }
    .btn3 a{
        text-decoration: none;
    }
    /* #services{
        margin-top: 5%;
    } 
    */
    .las{
        /* margin-top: 50vh; */
        height: 177vh;
        position: relative;
        background: #111;
        color: white;
    }
    .container{
      width: 80%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%,-50%);
  }
 
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
















